<div>
<form method="post" action="/results">
    Book Title: <%= book.title %><br>
    Book Edition: <%= book.edition %><br>
    Book Year: <%= book.year %><br>
    Book Format: <%= book.format %><br>
    Book Author: <%= book.author %><br>
    Book Cover: <%= book.cover %><br>
    Book ISBN: <%= book.isbn %><br>
    Book Publisher: <%= book.publisher %><br>
    School Name: <%= school.name %><br>
    School Address: <%= school.address %><br>
    School Telephone: <%= school.telephone %><br>
    <input type="submit" value="Submit">
</form>
</div>
