  <style>
  
  	#resultsname {
  		
  	font-style:bold;
  	font-size:24px;
  	font-family:'Open Sans', sans-serif;
  	
  	}
  	
  	#resultsisbn {
  	
  	font-style:bold;
  	font-size:16px;
  	font-family:'Open Sans', sans-serif;
  	
  	}
  	
  	#bookinfo {
  	font-style:bold;
  	font-family:'Open Sans', sans-serif;
  	}
  	
  	#numfound{
  	font-weight:600;
  	font-size:30px;
  	font-family:'Open Sans', sans-serif;
  	}
  
  </style>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  
<div id="results">
	<% if(num == 0 ) { %>
    	<p> NO RESULTS </p>
	<% } else { %>
    <div>
      <img src=/img/<%= book.cover %>></img>
 
      <!-- <h1><strong>Title</strong>: <%= book.title %></h1> -->
      <!-- <h2><strong>Edition</strong>: <%= book.edition %></h2> -->
      <!-- <h3><strong>Year</strong>: <%= book.year %></h3> -->
      <p>
    	<!-- <strong>Format</strong>: <%= book.format %><br> -->
        <!-- <strong>Author</strong>: <%= book.author %><br> -->
        <!-- <strong>Publisher</strong>: <%= book.publisher %><br> -->
        
        <!-- BOOK TITLE EDITION ETC -->
        <div id="bookinfo">
        
		<h1><strong>Title</strong>: <%= book.title %></h1>  
		<h2><strong>Edition</strong>: <%= book.edition %></h2> 
        <h4><strong>Year</strong>: <%= book.year %></h4>  
        <h4><strong>ISBN #</strong>: <%= book.isbn %></h4>
        <h4><strong>Publisher</strong>: <%= book.publisher %></h4>
        
        </div>
        
        <!-- TABLES OF SCHOOLS WITH THIS BOOK BEGINS BELOW -->
        
    
        
      </p>
      </div>
    
    <div id="numfound">
    	<hr>We found <%= num_books %> books in San Fransisco County! <hr>
    	</div>
    
    <% for( var i = 0; i< results.length; i++ ) { %>
    	
    	
    	
    	
    	
    	<div id="resultsname">
      		<p> <%= results[i].name %>: </p> 
      	</div>
      	<div id="resultsisbn">
      		<p> <%= results[i].has[isbn] %> available</p> 
      	</div>
      
        <p>
  			<button class="btn btn-primary" type="button">Request</button>
		</p>
      
      <br>
    <% } 
    } %>
    
    
  </div>



