  <div id="results">
<% if(num == 0 ) { %>
    <p> NO RESULTS </p>
<% } else { %>
    <div>
      <img src=/img/<%= book.cover %>></img>
      <h1><%= book.title %></h1>
      <h2><%= book.edition %> Edition</h2>
        <strong>Year</strong>: <%= book.year %><br>
        <strong>Format</strong>: <%= book.format %><br>
        <strong>Author</strong>: <%= book.author %><br>
        <strong>Publisher</strong>: <%= book.publisher %><br>
      </p>
    </div>
    <hr>
    <% for( var i = 0; i< results.length; i++ ) { %>
      <p> <%= results[i].name %> : </p> <p> <%= results[i].has[isbn] %></p> <br>
    <% } 
    } %>
  </div>
