  <style>
  
  	#resultsname {
  		
  	font-style:bold;
  	font-size:24px;
  	font-family:'Open Sans', sans-serif;
  	
  	}
  	
  	#resultsisbn {
  	
  	font-style:bold;
  	font-size:16px;
  	font-family:'Open Sans', sans-serif;
  	
  	}
  	
  	#bookinfo {
  	font-style:bold;
  	font-family:'Open Sans', sans-serif;
  	}
  	
  	#numfound{
  	font-weight:600;
  	font-size:30px;
  	font-family:'Open Sans', sans-serif;
  	}
  
  	
  
    .bookimage {
    float:left;
    padding:0 10px 10px 0;
    }
    
    .booktitle {
    padding:0 0 0 10px;
    }
    
  </style>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  
<div id="results">
	<% if(num == 0 ) { %>
    	<p> NO RESULTS </p>
	<% } else { %>
    <div id="booktable">
      
      <!-- <table cellpadding="5">
      	<tr>
      		<td><img src=/img/<%= book.cover %>></img> </td>
      		<td><h1><strong>Title</strong>: <%= book.title %></h1> 
 		</tr>    	      
		
		</table> -->
		
		<img class="bookimage" src=/img/<%= book.cover %>></img>
		
		<h1 class="booktitle"> <%= book.title %></h1>
		
		
		
		
		
		
		
		<p>
		
		<div id="bookinfo">
		
		<br>
		<h4><strong><%= book.edition %> Edition</strong></h2> 
        <h4><strong>Year</strong>: <%= book.year %></h4>  
        <h4><strong>ISBN #</strong>: <%= book.isbn %></h4>
        <h4><strong>Publisher</strong>: <%= book.publisher %></h4>
        
        </div>
        
        <!-- TABLES OF SCHOOLS WITH THIS BOOK BEGINS BELOW -->
        
      </p>
      </div>
    
    <div id="numfound">
    	<hr>We found <%= num_books %> books in San Fransisco County! <hr>
    	</div>
    
    <% for( var i = 0; i< results.length; i++ ) { %>
    	
    	
    	
    	
    	
    	<div id="resultsname">
      		<p> <%= results[i].name %>: </p> 
      	</div>
      	<div id="resultsisbn">
      		<p> <%= results[i].has[isbn] %> available</p> 
      	</div>
      
        <p>
  			<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#requestModal">Request</button>
		</p>
      
      <br>
    <% } 
    } %>
    
    
  </div>

<% include requestmodal %>

