  <div id="results">
<% if(num == 0 ) { %>
    <p> NO RESULTS </p>
<% } else { %>
    <div>
      <img src=/img/<%= book.cover %>></img>
 
      <!-- <h1><strong>Title</strong>: <%= book.title %></h1> -->
      <!-- <h2><strong>Edition</strong>: <%= book.edition %></h2> -->
      <!-- <h3><strong>Year</strong>: <%= book.year %></h3> -->
      <p>
    	<!-- <strong>Format</strong>: <%= book.format %><br> -->
        <!-- <strong>Author</strong>: <%= book.author %><br> -->
        <!-- <strong>Publisher</strong>: <%= book.publisher %><br> -->
        
        <!-- BOOK TITLE EDITION ETC -->
        
		<h1><strong>Title </strong>:<%= book.title %></h1>  
		<h2><strong>Edition</strong>: <%= book.edition %></h2> 
		<br> 
        <h4><strong>Year</strong>: <%= book.year %></h4>  <hr width=1, size=20 />  <h4><strong>ISBN #</strong>: <%= book.isbn %></h4>
        <br>
        <h4><strong>Publisher</strong>: <%= book.publisher %></h4>
        <br>
        
        <!-- TABLES OF SCHOOLS WITH THIS BOOK BEGINS BELOW -->
        
        <hr />
    
        
        
        

      

      </p>
    </div>
    <hr>
    <% for( var i = 0; i< results.length; i++ ) { %>
      <p> <%= results[i].name %> : </p> <p> <%= results[i].has[isbn] %></p> <br>
    <% } 
    } %>
    
    <p>
  	<button class="btn btn-primary" type="button">Request</button>
	</p>
    
    
  </div>



